.breadcrumbs {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
  margin-bottom: calc(var(--ring-unit) * 3);
  font-family: var(--ring-font-family);
  font-size: var(--ring-font-size);
  line-height: var(--ring-line-height);
}

.separator {
  color: var(--ring-borders-color);
}

.link.link {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  --ring-link-color: var(--ring-secondary-color);
  text-decoration: none;
}

.link.link:hover {
  text-decoration: none;
}

.current {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: inherit;
}
